.notifi__container {
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top:0;
  left: 82px;
  display: flex;
  flex-direction: column;
  background: #191919;

  h2 {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid;
  }
  .list__notifi {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    overflow-y: auto;
    gap: 20px;

    .notifi {
      display: flex;
      height: 70px;
      width: 100%;
      flex-direction: row;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 5px;
      }
      .content {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        p {
          margin: 0;
          font-size: 14px;
          span {
            font-size: 15px;
            font-weight: 600;
            margin-right: 10px;
          }
        }

        .button__action {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 15px;

          .accept {
            background-color: rgb(0, 136, 255);
            border: none;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
          }
          .cancel {
            background-color: rgb(255, 0, 25);
            border: none;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
          }
          button:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
