.comment__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;

  .comment__container {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 85%;
    .post__image {
      width: 50%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .comment__main {
      width: 50%;
      display: flex;
      flex-direction: column;
      .header {
        border-bottom: 1px solid #727272;
        padding: 15px;
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 15px;
        }
      }

      .content {
        display: flex;
        width: 100%;
        height: 78%;
        border-bottom: 1px solid #727272;
        overflow: hidden;

        .list__comment {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          padding: 15px;
          gap: 20px;

          .comment {
            display: flex;
            flex-direction: row;
            width: 100%;
            p {
              margin: 0;
            }
            div {
              width: 80%;
              padding: 0 15px;
              overflow-wrap: break-word;
              a {
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: 600;
              }
              a:hover {
                cursor: pointer;
                color: #727272;
              }
              p {
                margin: 0;
                font-size: 14px;
              }
            }

            img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
            }
          }
        }
      }

      .footer {
        flex: 1 1;
        padding: 5px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        input {
          width: 78%;
          border: none;
          font-size: 14px;
          border-bottom: 1px solid #afa9a9;
          color: white;
          background: none;
          outline: none;
        }
      }
    }
    svg:hover {
      cursor: pointer;
    }
  }
}
