.chat__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 75px;
    border-bottom: 1px solid #565454;
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%; /* để làm cho avatar trông tròn */
      margin-right: 10px;
    }
    span {
      font-size: 18px;
      font-weight: 500;
    }

    .button__actions {
      margin-left: auto;
      display: flex;
      gap: 10px;

      svg {
        font-size: 25px;
      }

      .action {
        border: none;
        background: none;
        color: white;
        font-size: 16px;
      }
    }
  }

  .main {
    height: 80%;
    margin-left: 20px;
    overflow: hidden;
    .list__message {
      height: 100%;
      overflow-y: auto;
      padding: 12px 20px 0;
      
      .message_item {
        display: flex;
        gap: 8px;
        margin: 5px;
        align-items: end;

        .message_avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-bottom: 16px;
        }
        .message_content{
          display: flex;
          width: 75%;
          flex-direction: column;

          .message_image{
            img{
              border-radius: 10px;
              width: 55%;
            }
          }
          .content_time{
            display: flex;
            gap: 16px;
            align-items: center;
            p{
              background-color: #4b4b4b;
              border-radius: 15px;
              margin: 10px 0;
              padding: 10px 15px;
            }
          }
        }
      }
      .message_item.reverse{
        direction: rtl;
      }
    }
  }

  .footer {
    flex: 1;
    margin: 13px 20px;
    display: flex;
    border: 1px solid #827d7d;
    border-radius: 20px;
    padding: 0 11px;
  }

  button:hover {
    cursor: pointer;
  }
}
